body, html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
  }
  .bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("./images/banner2.png");
    min-height: 75%;
  }
  .meimg{
    float: right;
    width: 35%;
    padding-bottom: 5%;
  }
  #meitsi {
    width: 100%;
  }
  .list{
    float: left;
    padding-bottom: 5%;
  }
  .menu {
    display: none;
  }
  .topColumn {
      width: 19.9999%;
      height: auto;
      float: left;
      padding-top: 0px;
      padding-bottom: 0px;
      background-color: black;
  }
  .topColumn a {
    padding: 15px 16px;
  }
  @font-face {
    font-family: banner;
    src: url(./opensans.ttf);
}
  .bannerTitle {
    font-family: banner;
    color: white;
    font-size: 60px;
}
.bannerTitle2 {
    font-family: banner;
    color: white;
    font-size: 40px;
}
.infoTable {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  margin-bottom: 5%;
  margin-top: 3%;
}
.infoTable td, .infoTable th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 1%;
}
.gallery {
  width: 100%;
  height: auto;
}
.imageHalf {
  width: 50%;
  float: left;
  margin: auto;
  padding: 3%;
}
.imageFull {
  width: 100%;
  float: left;
  margin: auto;
  padding: 3%;
}
.article {
  padding-bottom: 5%;
  padding-top: 5%;
  border-bottom: 7px solid #dddddd;
  overflow: hidden;
}
.article:last-child {
  padding-bottom: 5%;
  padding-top: 5%;
  overflow: hidden;
  border-bottom: 0;
}

/*Mobile*/
@media only screen and (max-width: 480px){
    .meimg {
        width: 100%;
    }
    .bannerTitle {
        font-size: 40px;
    }
    .bannerTitle2 {
        font-size: 30px;
    }
}